
@{
    Layout = null;
}
@using Aestheticism_Music.Models;
@*@model IEnumerable<Aestheticism_Music.Models.MusicList>*@
@model List<MusicList>
@{
    UserMusic user = Session["User"] as UserMusic;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>星御音乐</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- bootstrap-css -->
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!--// bootstrap-css -->
    <!-- css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!--// css -->
    <!-- gallery -->
    <link href="~/Content/css/cm-overlay.css" rel="stylesheet" />
    <!-- //gallery -->
    <!-- font-awesome icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <!-- //font-awesome icons -->
    <!-- font -->
    @*<link href="http://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700italic,700,400italic,300italic,300' rel='stylesheet' type='text/css'>*@
    <!-- //font -->
    <script src="~/Scripts/js/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/js/bootstrap.js"></script>



    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- animation -->

    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <script src="~/Scripts/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</head>
<body>
    <!-- banner -->
    <div class="banner jarallax">
        <div class="agileinfo-dot">
            <div class="header">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="agileits-logo">
                                <h1><a href="/Home/Login"><img src="~/Content/images/logo1.png" /> 星御<span class="glyphicon glyphicon-heart"></span>音乐</a></h1>
                            </div>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
                            <nav>
                                <ul class="nav navbar-nav">
                                    @if (Session["User"] != null)
                                    {
                                        <li class="active"><a href="#about">首页</a></li>
                                        <li><a href="#about" class="scroll">歌曲</a></li>
                                        <li><a href="#events" class="scroll">歌手分类</a></li>
                                        <li><a href="#team" class="scroll">最新专辑</a></li>
                                        <li><a href="#news" class="scroll">新闻</a></li>
                                        <li><a href="#mail" class="scroll">联系我们</a></li>
                                        <li><a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@user.UserID">个人资料</a></li>
                                        <span style="color:white">欢迎：@user.UserName</span>
                                        <form action="/Home/Exit">
                                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">注销</button>
                                        </form>
                                    }
                                    else
                                    {
                                        <li class="active"><a href="index.html">首页</a></li>
                                        <li><a href="#about" class="scroll">歌曲</a></li>
                                        <li><a href="#events" class="scroll">歌手分类</a></li>
                                        <li><a href="#team" class="scroll">最新专辑</a></li>
                                        <li><a href="#news" class="scroll">新闻</a></li>
                                        <li><a href="#mail" class="scroll">联系我们</a></li>
                                        <li><a href="/Home/Login" style="color:lightcoral;">我的音乐</a></li>
                                    }

                                </ul>
                            </nav>
                        </div>
                        <!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
            <div class="w3layouts-banner-info">
                <div class="container">
                    <div class="w3ls-text">
                        <h2>Come To Music</h2>
                    </div>
                    <div class="w3-arrow bounce animated">
                        <a href="#indro" class="scroll"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- 介绍 -->
    <div class="introduction" id="indro">
        <div class="container">
            <div class="w3l-heading">
                <h3>介绍</h3>
                <div class="w3ls-border"> </div>
            </div>
            <div class="introduction-info">
                <p>
                    这本书的目录在最后一页，如果没有把之前的空白页填满，你将永远无法看到最后一页。这本书的名字，叫人生。从出生时，发出第一声对这个世界的呼喊起，就是提笔这本书的第一页。人生很精彩，内容繁多，纷乱复杂，所以我们可以把它依次归类，写成一系列的书。比如爱情，一段感情结束，就意味着这本书写到了终章。我尤爱张嘉佳的一句话：花盛开就是一句，夜漫过就是一篇。黄昏时开始书写，黎明时就是无数的扉页。全世界拼成诗，我爱你当作最后一行。世事难料，或许最后一页，不是我爱你，而是我爱过你。
                </p>
            </div>
        </div>
    </div>
    <!-- //介绍 -->
    <!-- 歌曲列表 -->
    <div class="about" id="about">
        <div class="container">
            <div class="w3l-heading about-heading">
                <h3>歌曲列表</h3>
                <div class="w3ls-border about-border"> </div>
            </div>
            <form class="layui-form" action="/Music/Index" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">歌曲：</label>
                    <div class="layui-input-block">
                        <input type="text" name="MusicListName" placeholder="请输入歌曲名" autocomplete="off" class="layui-input layui-bg-black" value="@ViewBag.name">
                        <input type="submit" value="查询" class="layui-btn layui-btn-primary" />
                    </div>
                </div>
            </form>
            <a href="/Music/Create" class="btn btn-primary">添加</a>
            <table class="lay-even layui-table layui-bg-black">
                <tr>
                    <th>
                        歌曲名
                    </th>
                    <th>
                        文件大小
                    </th>
                    <th>
                        歌曲地址
                    </th>
                    <th>
                        歌手
                    </th>
                    <th>
                        歌曲发布者
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="/Music/Listen/@item.MusicListID"><i class="glyphicon glyphicon-play"></i></a>
                            @Html.DisplayFor(modelItem => item.MusicListName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MusicListFileSize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MusicListPath)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Singer.SingerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMusic.UserName)
                        </td>
                    </tr>
                }

            </table>



        </div>
    </div>
    <!-- //about -->
    <!-- 歌手 -->
    <div class="gallery" id="events">
        <div class="container">
            <div class="w3l-heading">
                <h3>歌手分类</h3>
                <div class="w3ls-border"> </div>
            </div>
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">部分歌手</a></li>
                    <li role="presentation"><a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">男歌手</a></li>
                    <li role="presentation"><a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">女歌手</a></li>
                    <li role="presentation"><a href="#painting" role="tab" id="painting-tab" data-toggle="tab" aria-controls="painting">组合</a></li>
                    <li role="presentation"><a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">外国歌手</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    @* 部分歌手 *@
                    <div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g1.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>林俊杰</h5>
                                    <p>非常棒的男歌手！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>杨丞琳</h5>
                                    <p>非常棒的女歌手！ </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g3.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>戚薇</h5>
                                    <p>非常有气质的女歌手！  </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>周杰伦</h5>
                                    <p>非常棒的男歌手！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g5.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g5.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>鹿晗</h5>
                                    <p>非常帅的男歌手！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g6.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g6.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>易烊千玺</h5>
                                    <p>非常棒的男歌手！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g7.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g7.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>泰勒-斯威夫特</h5>
                                    <p>非常非常棒的欧美女歌手！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g1.jpg" alt=" " class="img-responsive" />
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>贾斯汀-比伯</h5>
                                    <p>非常非常棒的欧美男歌手！ </p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    @* 男歌手 *@
                    <div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>林俊杰</h5>
                                    <p>是一个有故事的男歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>鹿晗</h5>
                                    <p>拥有着让人无法控制的容颜的歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>周杰伦</h5>
                                    <p>有着别人无法拥有的才华的歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>易烊千玺</h5>
                                    <p>有着同龄人没有的成熟与成就的歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>贾斯汀-比伯</h5>
                                    <p>来自欧美的同龄小哥哥</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    @* 女歌手 *@
                    <div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>戚薇</h5>
                                    <p>拥有气质霸气的女歌手，人人都爱！</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g5.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g5.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>泰勒-斯威夫特</h5>
                                    <p>小编最最喜欢的欧美女歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g6.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g6.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>杨丞琳</h5>
                                    <p>《年轮说》最近很火哦！</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    @* 组合 *@
                    <div role="tabpanel" class="tab-pane fade" id="painting" aria-labelledby="painting-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g1.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g1.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>筷子兄弟</h5>
                                    <p>《父亲》听说很感人！ </p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g2.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g2.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>TFBoys</h5>
                                    <p>三小只很努力，有着别的同龄人没有的成就</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g3.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g3.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>S.H.E</h5>
                                    <p>还是一如既往的让人喜欢</p>
                                </div>
                            </div>
                            <div class="w3_tab_img">
                                <div class="col-sm-3 w3_tab_img_left">
                                    <div class="demo">
                                        <a class="cm-overlay" href="~/Content/images/g4.jpg">
                                            <figure class="imghvr-shutter-in-out-diag-2">
                                                <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive">
                                            </figure>
                                        </a>
                                    </div>
                                    <div class="agile-gallery-info">
                                        <h5>苏打绿</h5>
                                        <p>吴青峰让我印象深刻</p>
                                    </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
                        <div class="w3_tab_img">
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>泰勒-斯威夫特</h5>
                                    <p>小编最最喜欢的欧美女歌手</p>
                                </div>
                            </div>
                            <div class="col-sm-3 w3_tab_img_left">
                                <div class="demo">
                                    <a class="cm-overlay" href="~/Content/images/g4.jpg">
                                        <figure class="imghvr-shutter-in-out-diag-2">
                                            <img src="~/Content/images/g4.jpg" alt=" " class="img-responsive">
                                        </figure>
                                    </a>
                                </div>
                                <div class="agile-gallery-info">
                                    <h5>贾斯汀-比伯</h5>
                                    <p>来自欧美的同龄小哥哥</p>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="js/jquery.tools.min.js"></script>
            <script src="js/jquery.mobile.custom.min.js"></script>
            <script src="js/jquery.cm-overlay.js"></script>
            <script>
                $(document).ready(function () {
                    $('.cm-overlay').cmOverlay();
                });
            </script>
        </div>
    </div>
    <!-- //gallery -->
    <!-- 最新专辑 -->
    <div class="team jarallax" id="team">
        <div class="team-dot">
            <div class="container">
                <div class="w3l-heading about-heading">
                    <h3>最新专辑</h3>
                    <div class="w3ls-border about-border"> </div>
                </div>
                <div class="agileits-team-grids">
                    <div class="col-md-3 agileits-team-grid">
                        <div class="team-info">
                            <img src="~/Content/images/t1.jpg" />

                            <div class="team-caption">
                                <h4>coffee-《咖啡》</h4>
                                <p>鹿晗LuHan&吴亦凡Kris</p>
                                <ul>
                                    <li><a href="/Music/Coffee"><i class="glyphicon glyphicon-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 agileits-team-grid">
                        <div class="team-info">
                            <img src="~/Content/images/t2.jpg" />
                            <div class="team-caption">
                                <h4>22</h4>
                                <p>泰勒-斯威夫特</p>
                                <ul>
                                    <li><a href="/Music/Two"><i class="glyphicon glyphicon-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 agileits-team-grid">
                        <div class="team-info">
                            <img src="~/Content/images/t3.jpg" />
                            <div class="team-caption">
                                <h4>The Saltwater Room</h4>
                                <p>Owl City</p>
                                <ul>
                                    <li><a href="/Music/Room"><i class="glyphicon glyphicon-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 agileits-team-grid">
                        <div class="team-info">
                            <img src="~/Content/images/t4.jpg" />
                            <div class="team-caption">
                                <h4>大鱼</h4>
                                <p>周深</p>
                                <ul>
                                    <li><a href="/Music/Fish"><i class="glyphicon glyphicon-play"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //team -->
    <!-- 新闻 -->
    <div class="news" id="news">
        <div class="container">
            <div class="w3l-heading">
                <h3>新闻</h3>
                <div class="w3ls-border"> </div>
            </div>
            <div class="wthree-news-grids">
                <!-- date -->
                <div id="design" class="date">
                    <div id="cycler">
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>29 <span>June 2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal">疫情动态-31省份新增19例确诊 8例为本土病例<span class="blinking"><img src="~/Content/images/new.png" /></span></a>
                                <p>
                                    6月29日0—24时，31个省（自治区、直辖市）和新疆生产建设兵团报告新增确诊病例19例，其中境外输入病例11例（广东4例，上海3例，四川3例，甘肃1例），本土病例8例（北京7例，上海1例）；无新增死亡病例；新增疑似病例1例，为境外输入病例（在上海）。
                                    当日新增治愈出院病例9例，解除医学观察的密切接触者458人，重症病例比前一日减少1例。
                                    ----《信息来自国家卫生健康委员会官方网站》
                                </p>

                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>30 <span>June 2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal"> 高考前6天，做点简单基础的事，不要再疯狂刷题了 <span class="blinking"><img src="~/Content/images/new.png" /></span></a>
                                <p>
                                    一、有规划的做题:一定要避免机械的盲目的去刷题。
                                    二、调整作息规律，保证拥有充足的精力:我们都知道高考的时间都是定下来的，不管是哪一天，哪一个时段考哪一个科目，都是有一个时间分配的，而在高考前六天，我们应该尽量的去调整自己的作息时间，以保证在高考的时候能够有充足的精力。
                                    三、保持平稳的心态:在高考前六天，学生应该尽量的将自己的心态放平稳，虽然整个高考都是考的真才实学，但其中心理状态却是会左右高考成绩的。
                                    而在考前的六天里，学生更应该保持的是一种理性兴奋，对于高考有所期待，而又有着完整的规划。
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>26 <span>June 2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal"> 百度2020年高考搜索大数据：人生大考遇上疫情大考，这届考生“压力山大”<span class="blinking"><img src="~/Content/images/new.png" /></span></a>
                                <p>
                                    疫情影响了高考，也影响了考生的人生选择。生活在新时代的这届考生，对于大学专业的关注也“颠覆”传统。充满“未知”的2020年高考，政策也在变，考生和家长都非常关心首年施行的“强基计划”。
                                    在这个“特殊”的高考季，面临着高考和疫情的双重考验，这届考生备考压力更大。搜索数据显示，今年“备考压力”相关内容搜索热度较去年同期(高考倒计时100天至倒计时10天)上涨133%，“高考励志标语”相关内容的搜索热度同比去年(高考倒计时100天至倒计时10天)上涨267%。可见，压力之下，考生依然积极应对，寻求心理疏导。
                                    面对高考这一人生的重大抉择点，考生和家长都希望快速、准确、全面地获取相关信息。而每年高考期间，都会有百亿人次通过百度搜索、浏览高考相关信息;超过95%的高三学生及家长都会使用百度查找相关信息及服务，百度将持续助力高三考生和家长打赢这场“信息战”。

                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>29 <span>June 2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal">将二次元唱出圈层的周深，为何选《龙之谷2》为首款代言游戏 <span class="blinking"><img src="~/Content/images/new.png" /></span></a>
                                <p>
                                    端午节期间，ACG圈举办了两个大型活动，一个是B站的十一周年庆，一个是腾讯游戏的年度发布会。本该是两场圈子里的狂欢，却出现了同一个“圈外人”，歌手周深。
                                    由于此前在《歌手·当打之年》唱火了洛天依神曲《达拉崩吧》，周深以本职身份出席B站十一周年，并不算意外。相比之下，以《龙之谷2》代言人的身份亮相腾讯游戏
                                    年度发布会，则多少有些彩蛋的意味。要知道，这是周深首次代言游戏，也是其公开代言的第三个品牌。较之前两个护肤产品，代言游戏似乎更具突破意义。事实上，如
                                    果你回顾周深6年来的成名历程就不难发现，周深十分擅长在外界没有想到的领域里进行尝试，并且都能取得很不错的效果。作为一位自带二次元属性的90后，周深自身就
                                    与《龙之谷》的核心玩家群体相契合。加之他的粉丝受众都相对年轻，据百度指数显示，主动搜索周深的人大多在20-29岁，女性高于男性，有机会为《龙之谷》注入又一
                                    批新鲜血液。更重要的是，如果周深为《龙之谷》演唱主题曲，凭借其唱功与市场口碑，《龙之谷》也有可能像洛天依的《达拉崩吧》一样实现出圈。另一方面，作为周深
                                    的首款代言游戏，《龙之谷2》的圈内知名度与体量，也为周深进一步释放宝藏男孩潜力提供了一定的空间。仅从突破性与匹配度做考量，周深这次又选对了作品。此次突破
                                    又将带来何种程度的惊艳，就要等游戏的表现了。
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>27 <span>April  2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal">《等风停》MV正式上线，“仙气艺人”罗云熙演绎温柔一面</a>
                                <p>
                                    这次《等风停》的上线，则足以让人们见识到罗云熙对音乐认真的态度。这首歌由好妹妹乐队成员秦昊亲自操刀制作，无论是曲风还是歌词均充满着浓浓的治愈气息，而在MV中，罗云熙身着宽松衬衫，漫步在森林之中，与温柔婉转的歌声相迎合，意境满满。
                                    “等风来的时候，你就要随风远扬，愿我的歌化作你的翅膀，陪着你到远方”，从歌词中我们不难发现，这首歌始终围绕着“祝福”二字进行展开，而配合着罗云熙在MV中的神情和动作，再结合当下毕业季的离别氛围，这首歌会让更多面临分离的人，找到
                                    暖情而又温馨的陪伴。从去年的预热单曲《逆流而上》，到如今《等风停》的接力，罗云熙始终用自己最认真的态度对待自己的每一部作品，而不同风格的体验，则令罗云熙在音乐领域的多样性展现得淋漓尽致，《等风停》这首单曲带来的温暖的祝福，正
                                    是罗云熙想要为歌迷所带来的真实体验，相信在不久的将来，罗云熙一定能为我们带来更多精彩的作品，让我们一起期待吧！
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="wthree-news-grid">
                            <div class="wthree-news-left">
                                <h4>22 <span>June  2020</span></h4>
                            </div>
                            <div class="date-text">
                                <a href="#" data-toggle="modal" data-target="#myModal"> 2021年全英音乐奖因疫情推迟 将于五月举办<span class="blinking"><img src="~/Content/images/new.png" /></span></a>
                                <p>
                                    近日，据外媒报道，由于疫情原因，2021年的全英音乐奖从传统的2月推迟到了5月。英国音乐机构——英国唱片业（BPI）的组织者在咨询了英国顶级音乐人物、赞助商和ITV电视网之后，于周一宣布了这一计划，全英音乐奖将于5月11日启动。BPI负责人表示，由于“安全和后勤方面的考虑”，在2月份举行大型颁奖礼将会非常困难，如果在2月份举行，全球明星可能无法参加。
                                </p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                    <script>
                        function blinker() {
                            $('.blinking').fadeOut(500);
                            $('.blinking').fadeIn(500);
                        }
                        setInterval(blinker, 1000);
                    </script>
                    <script>
                        function cycle($item, $cycler) {
                            setTimeout(cycle, 2000, $item.next(), $cycler);

                            $item.slideUp(1000, function () {
                                $item.appendTo($cycler).show();
                            });
                        }
                        cycle($('#cycler div:first'), $('#cycler'));
                    </script>
                </div>
                <!-- //date -->
            </div>
        </div>
    </div>
    <!-- //news -->
    <!-- 歌曲列表的模态框 -->
    <div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">音乐介绍</h4>
                    <h5>每一首歌都有它存在的意义</h5>
                </div>
                <div class="modal-body">
                    <div class="agileits-w3layouts-info">
                        <img src="images/1.jpg" alt="" />
                        <p>
                            在所有的艺术形式中，音乐是最擅长于抒发情感、最能拨动人心弦的艺术形式，它借助声音这个媒介来真实地传达、表现和感受审美情感。音乐在传达和表现情感上，优于其他艺术形式，
                            是因为它所采用的感性材料和审美形式——声音最合于情感的本性，最适宜表达情感。或庄严肃穆，或热烈兴奋，或悲痛激愤，或缠绵细腻，或如泣如诉。音乐可以更直接、更真实、更
                            深刻地表达人的情感。那么，音乐为什么能够用有组织的声音来表达人的情感呢，一种理论认为，音乐的表情性来自于音乐对人的有表情性因素的语言的模仿。人的语言用语音、声调、
                            语流、节奏、语速等表情手段配合语义来表情达意，而音乐的音色、音调起伏、节奏速度等表现手段能起到与语言的表情手段同样的作用。 个人认为，音乐的声音形态与人类情感之间
                            存在着相似性，具有某种“同构关系”，这是音乐能表达人情感的根本原因。音乐理论家于润洋曾指出：“音响结构之所以能够表达特定的情感，其根本原因在于这二者之间存在着一个
                            极其重要的相似点，那就是这二者都是在时间中展示和发展，在速度、力度、色调上具有丰富变化的、极富于动力性的过程。这个极其重要的相似点正是这二者之间能够沟通的桥梁。”
                            比如“喜悦”，它是人高兴、欢乐的感情表现。一般来说，这种感情运动呈现出一种跳跃、向上的运动形态，其色调比较明朗，运动速度与频率较快。表现“喜悦”的感情的音乐，一般
                            也采取类似的动态结构，如民乐曲《喜洋洋》，用较快的速度、跳荡的音调等表现手段表达了人们喜悦的情感。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- contact -->
    @* 每一首歌都有每一首歌曲存在的意义 *@
    <div class="contact" id="mail">
        <div class="container">
            <div class="w3l-heading about-heading">
                <h3>每一首歌都有每一首歌曲存在的意义</h3>
                <div class="w3ls-border about-border"> </div>
            </div>
            <div class="introduction-info contact-info">
                <p>
                    听音乐放松你的心情！歌手给我们带来的每一首经典歌曲的背后都有个感人的故事。而他们用这些故事编成歌分享给了我们，感同身受，每当出新歌时，我们都体会不到歌的故事，只当它只是一首歌，很好听，当理解了这些歌的含义，感动的痛哭流涕。谢谢他们给我们带来的快乐。也希望他们能快快乐乐的创造音乐！ 一、收起你的懦弱，摆出你的霸气，在你跌倒的时候没人扶你，多得是看你笑话的畜生！二、你不努力，永远不会有人对你公平，只有你努力了，有了资源，有了话语权以后，你才可能为自己争取公平的机会。三、没有行动，懒惰就会生根发芽！没有梦想，堕落就会生根发芽！时间越长，根就越深！到时候想站起 来是件很困难的事！所以，为了很好的站着，就不要停下你的脚步！四、没有谁能击垮你，除非你自甘堕落。不拼一把，你怎么
                    知道自己是人物还是废物！比你差的人没放弃，比你好的人仍在努力，你有什么资格说你无能为力！五、你不能决定太阳几点升起，但可以决定自己几点起床。你不能控制生命的长度，但可以增加生命的宽度。别嫉妒别人的成功，在你看不见的时候，他们流下了你想象不到的汗水。与其羡慕，不如奋斗！六、敢闯才有机会！敢拼才有未来！人的一辈子没有一帆风顺！雨再大，也有停的时候！再大的乌云也遮不住微笑的太阳！不苦不累人生无味！不拼不博人生白活！七、当你又瘦又好看，钱包里都是自己努力赚来的钱的时候，你就会恍然大悟，哪有时间患得患失，哪有时间猜东猜西，哪有时间揣摩别人，你若盛开，蝴蝶自来，你若精彩，天自安排。八、就算全世界都否定你，你也要相信你自己，不要去想别人的看法，别人的话不过是阳光里的尘埃，下一秒就被风吹走。
                </p>
            </div>
        </div>
    </div>
    @* 联系我们 *@
    <div class="contact-form">
        <div class="col-md-4 contact-form-left">
            <h5>联系我们</h5>
            <div class="address-grids">
                <div class="address-grid">
                    <div class="address-icon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="address-info">
                        <p>
                            Eiusmod Tempor inc<br>
                            St Dolore Place,<br>
                            Kingsport 56777.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-grid">
                    <div class="address-icon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="address-info">
                        <p>
                            +1 234 567 8901<br>
                            +1 345 678 9012
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-grid">
                    <div class="address-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="address-info">
                        <p><a href="mailto:example@email.com">Email@example.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        @* 歌曲的播放 *@
        <div class="col-md-8 contact-form-right">
            <h5>歌曲的播放</h5>
            <div class="contact-form-grid">
                <!--字体图标样式-->
                <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/solid.css'>
                <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css'>
                @* 底部播放的css *@
                <link href="~/Content/footer/css/style.css" rel="stylesheet" />
                <div id="player">
                    <div id="player-track">
                        <div id="album-name"></div>
                        <div id="track-name"></div>
                        <div id="track-time">
                            <div id="current-time"></div>
                            <div id="track-length"></div>
                        </div>
                        <div id="s-area">
                            <div id="ins-time"></div>
                            <div id="s-hover"></div>
                            <div id="seek-bar"></div>
                        </div>
                    </div>
                    <div id="player-content">
                        <div id="album-art">
                            <img src="~/Content/footer/img/1.jpg" class="active" id="_1" />
                            <img src="~/Content/footer/img/2.jpg" id="_2">
                            <img src="~/Content/footer/img/3.jpg" id="_3">
                            <img src="~/Content/footer/img/4.jpg" id="_4">
                            <img src="~/Content/footer/img/5.jpg" id="_5">
                            <div id="buffer-box">缓冲…</div>
                        </div>
                        <div id="player-controls">
                            <div class="control">
                                <div class="button" id="play-previous">
                                    <i class="fas fa-backward"></i>
                                </div>
                            </div>
                            <div class="control">
                                <div class="button" id="play-pause-button">
                                    <i class="fas fa-play"></i>
                                </div>
                            </div>
                            <div class="control">
                                <div class="button" id="play-next">
                                    <i class="fas fa-forward"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/Content/footer/js/jquery.min.js"></script>
                <script src="~/Content/footer/js/index.js"></script>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>


    @* 个人资料的模态框 *@

    <!-- Modal修改个人资料的模态框！ -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">个人资料</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="/Music/Edit" id="UserFrom">
                    <div class="modal-body">

                        <div class="form-group">
                            <input type="hidden" id="UserID" name="UserID" value="@user.UserID" />
                        </div>
                        <div class="form-group">
                            <label>用户名：</label>
                            <input id="UserName" type="text" name="UserName" placeholder="用户名" value="@user.UserName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>登录名：</label>
                            <input id="UserLoginName" type="text" name="UserLoginName" placeholder="登录名" class="form-control" value="@user.UserLoginName" />
                        </div>
                        <div class="form-group">
                            <label>密码：</label>
                            <input id="UserLoginPwd" type="text" name="UserLoginPwd" placeholder="密码" class="form-control" value="@user.UserLoginPwd" />
                        </div>
                        <div class="form-group">
                            <label>性别：</label>
                            <input id="UserSex" type="text" name="UserSex" placeholder="性别" class="form-control" value="@user.UserSex" />
                        </div>
                        <div class="form-group">
                            <label>电话：</label>
                            <input id="UserPhone" type="text" name="UserPhone" placeholder="电话" class="form-control" value="@user.UserPhone" />
                        </div>
                        <div class="form-group">
                            <label>生日：</label>
                            <input id="UserBirthday" type="text" name="UserBirthday" placeholder="生日" class="form-control" value="@user.UserBirthday" />
                        </div>
                        <div class="form-group">
                            <label>邮箱：</label>
                            <input id="UserEmail" type="text" name="UserEmail" placeholder="邮箱" class="form-control" value="@user.UserEmail" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="EditSbm">保存</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <!-- //contact -->
    <!-- footer -->
    <footer>
        <div class="container">
            <p>Copyright &copy; 2020.5.20 Company name All rights reserved.</p>
        </div>
    </footer>
    <!-- //footer -->
    <script src="~/Scripts/js/jarallax.js"></script>
    <script src="~/Scripts/js/SmoothScroll.min.js"></script>
    <script type="text/javascript">
        /* init Jarallax */
        $('.jarallax').jarallax({
            speed: 0.5,
            imgWidth: 1366,
            imgHeight: 768
        })
    </script>

    <script src="~/Scripts/js/responsiveslides.min.js"></script>
    <script src="~/Scripts/js/move-top.js"></script>
    <script src="~/Scripts/js/easing.js"></script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
        /* 个人资料的模态框   修改*/
        $('#exampleModal').on('show.bs.modal', function (event) {  //监控模式框的状态为显示时触发，event捕获的是触发模式框显示的单击事件对象
            var button = $(event.relatedTarget);  //捕获单机对象
            var id = button.data('whatever');   //获得单机对象标签上传递的参
            //获取监控的模态框
            var modal = $(this);
            //获取到对应对象数据，展示在对应input上
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: '/Music/Detail',
                async: false,
                data: {
                    //传递teacherid
                    id: id
                },
                success: function (data) {
                    console.log(data);

                    //find()方法，用于找出第一个符合条件的数组成
                    //给对应的input赋值（接收到data传递的值，使用键值对方式key获取值）
                    modal.find('.modal-body input[name="UserID"]').val(data["UserID"]);
                    modal.find('.modal-body input[name="UserName"]').val(data["UserName"]);
                    modal.find('.modal-body input[name="UserLoginName"]').val(data["UserLoginName"]);
                    modal.find('.modal-body input[name="UserLoginPwd"]').val(data["UserLoginPwd"]);
                    modal.find('.modal-body input[name="UserSongSheet"]').val(data["UserSongSheet"]);
                    modal.find('.modal-body input[name="UserSex"]').val(data["UserSex"]);
                    modal.find('.modal-body input[name="UserPhone"]').val(data["UserPhone"]);
                    modal.find('.modal-body input[name="UserBirthday"]').val(data["UserBirthday"]);
                    modal.find('.modal-body input[name="UserEmail"]').val(data["UserEmail"]);
                }
            })
        })

        /*个人资料模态框触发提交按钮*/
        $("#EditSbm").click(function () {
            $("#UserFrom").submit();
        })

    </script>
    <!-- //here ends scrolling icon -->
</body>
</html>
