<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 你的Aestheticism Music网站-属于你的网站</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using Aestheticism_Music.Models;
    @{
        UserMusic user = Session["user"] as UserMusic;
        Administer admin = Session["admin"] as Administer;
    }
</head>
<body style="background-color:antiquewhite">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Aestheticism Music", "Index", "Music", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("首页", "Index", "Music")</li>
                    <li>@Html.ActionLink("歌手", "Index", "Singer")</li>
                    <li>@Html.ActionLink("最新音乐", "Index", "Music")</li>
                    <li>@Html.ActionLink("联系我们", "Index", "Home")</li>
                    <li>
                        @if (admin != null)
                        {
                            <span style="color:white">欢迎：@admin.AdministerName</span>
                            <form action="/Home/ExitAdmin">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">注销</button>
                            </form>
                        }
                    </li>
                </ul>
                <div class="media-middle navbar-right">
                    @if (user != null)
                    {
                        <span style="color:white">欢迎：@user.UserName</span>
                        <form action="/Home/Exit">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">注销</button>
                        </form>
                    }
                    else
                    {
                        <a href="/Home/Login" class="btn btn-toolbar">用户登录</a>
                        <a href="/Home/MangerLogin" class="btn btn-toolbar">管理员登录</a>
                    }
                </div>
                </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
