@model Aestheticism_Music.Models.MusicList

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

@using Aestheticism_Music.Models;

<h2>修改</h2>

<form action="/MusicLists/Edit" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>音乐列表</h4>
        <hr />
        <input type="hidden" id="MusicListID" name="MusicListID" value="@Model.MusicListID">

            <div class="layui-form-item">
                <label class="layui-form-label">歌曲名：</label>
                <div class="layui-input-block">
                    <input type="text" name="MusicListName" required lay-verify="required" autocomplete="off" class="layui-input" value="@Model.MusicListName">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">歌曲大小：</label>
                <div class="layui-input-block">
                    <input type="text" name="MusicListFileSize" required lay-verify="required" autocomplete="off" class="layui-input" value="@Model.MusicListFileSize">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">歌曲路径：</label>
                <div class="layui-input-block">
                    <input type="file" name="MusicListPath" required lay-verify="required" autocomplete="off" class="layui-input" value="@Model.MusicListPath">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">歌手：</label>
                <div class="layui-input-block">
                    @Html.DropDownList("SingerID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SingerID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">歌曲发布者：</label>
                <div class="layui-input-block">
                    @Html.DropDownList("UserID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="submit" value="保存" class="layui-btn" />
                    @Html.ActionLink("返回", "Index")
                </div>
            </div>
    </div>
</form>
