@model Aestheticism_Music.Models.Administer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutManage.cshtml";
}

<h2>删除</h2>

<h3>你确定要删除这个管理员嘛？</h3>
    <hr />
    <table class="lay-even layui-table">
        <tr>
            <th>昵称</th>
            <th>@Html.DisplayFor(model => model.AdministerName)</th>
        </tr>

        <tr>
            <th>账号</th>
            <th>@Html.DisplayFor(model => model.AdministerLoginName)</th>
        </tr>

        <tr>
            <th>密码</th>
            <th>@Html.DisplayFor(model => model.AdministerLoginPwd)</th>
        </tr>

        <tr>
            <th>电话</th>
            <th>@Html.DisplayFor(model => model.AdministerPhone)</th>
        </tr>

        <tr>
            <th>邮箱</th>
            <th>@Html.DisplayFor(model => model.AdministerEmail)</th>
        </tr>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="layui-form-item">
            <input type="submit" value="删除" class="layui-btn layui-btn-danger" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }